<div appDnd class="dropzone col-11" (dropped)="fileUpload($event)">
  <input (change)="fileUpload(convertToFileList($event.target))" type="file" multiple/>
  <fa-icon size="3x" [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
  <h3>Drag and drop files here</h3>
</div>

<div class="d-flex justify-content-center mt-3 mb-2">
  <div class="col-11 col-xl-10 btn-group p-0">
    <label id="upload-btn" class="upload-btn btn btn-info" tabindex="0" role="button">
      <input type="file" (change)="fileUpload(convertToFileList($event.target))" multiple/>
      Upload files
    </label>
    <label class="upload-btn btn btn-info" tabindex="0" role="button">
      <input type="file" (change)="fileUpload(convertToFileList($event.target))" webkitdirectory/>
      Upload folder
    </label>
  </div>
</div>
