<!--<input type="file" (change)="fileSelected($event.target)" >-->
<!--<button (click)="saveFile()">Save</button>-->

<label class="col-10 offset-1 btn custom-input-btn bg-primary">
  <input (change)="fileSelected($event.target)" type="file" style="display:none"/>
  <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
  Select file
</label>

<div  class="dropzone" appDnd>
  <input type="file" id="fileDropRef" multiple (change)="fileSelected($event.target)" >
  <fa-icon size="3x" [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
  <h3>Drag and drop file here</h3>
</div>
