<label #uploadLabel class="col-10 offset-1 btn custom-input-btn bg-primary">
<!--  <input *ngIf="radioModel === 'files'" (change)="fileSelected($event.target)" type="file" style="display:none" multiple/>-->
<!--  <input *ngIf="radioModel === 'folder'" (change)="fileSelected($event.target)" type="file" style="display:none" multiple webkitdirectory/>-->
  <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>-->
  Select {{radioModel}}
</label>

<div class="dropzone col-11" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)">
  <fa-icon size="3x" [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
  <h3>Drag and drop {{radioModel}} here</h3>
</div>
<div class="d-flex justify-content-center mt-2">
<div class="col-12 col-xl-10 btn-group">
  <label class="btn btn-info" [(ngModel)]="radioModel"
         btnRadio="files" tabindex="0" role="button">Upload files</label>
  <label class="btn btn-info" [(ngModel)]="radioModel"
         btnRadio="folder" tabindex="0" role="button">Upload folder</label>
</div>
</div>
