<div
  class="file-card position-relative px-2 py-1 no-select d-flex flex-column h-100"
  [class.selected]="selected()"
  [class.drop-hover]="canShowDropOverlay()"
  [class.incomplete]="file().fileStatus === FileStatus.Incomplete"
  [draggable]="!loading() && file().fileStatus === FileStatus.Completed"
  (click)="clickCard.emit($event)"
  (dblclick)="doubleClickCard.emit($event)"
  (mousedown)="mouseDownCard.emit($event)"
  (mouseenter)="mouseEnterCard.emit()"
  (mouseup)="mouseUpCard.emit($event)"
  (dragstart)="dragStartCard.emit($event)"
  (dragend)="dragEndCard.emit($event)"
  (dragenter)="dragEnterCard.emit($event)"
  (dragleave)="dragLeaveCard.emit($event)"
  (dragover)="dragOverCard.emit($event)"
  (drop)="dropCard.emit($event)"
  (contextmenu)="onContextMenuClick($event)"
>
  <div class="d-flex justify-content-between align-items-start">
    <div data-content class="d-flex gap-2 small">
      @if (isUploadInProgress()) {
        <app-upload-cancel-btn (click)="cancelUpload.emit()" />
      }

      @if (file().isFavourite) {
        <i class="bi bi-star-fill text-warning"></i>
      }

      @if (file().isShared) {
        <i class="bi bi-people-fill"></i>
      }
    </div>

    <div data-content appHoverClass="bg-body-tertiary rounded-pill">
      <button
        class="btn btn-sm btn-link text-decoration-none dropdown-toggle"
        (click)="clickActions.emit($event)"
      >
        <i class="bi bi-three-dots-vertical"></i>
      </button>
    </div>
  </div>

  <div class="file-preview">
    <i
      data-content
      class="bi display-3 position-relative d-flex"
      [class]="fileIcon()"
    >
      @if (isUploadInProgress()) {
        <span class="upload-badge">
          <i class="bi bi-arrow-up"></i>
        </span>
      }
    </i>
  </div>

  <div class="text-center mt-1">
    <div
      class="file-name"
      [class.uploading]="isUploadInProgress() && isUserCreatedFile()"
      [appTooltipOnOverflow]="file().fileName"
    >
      <span data-content> {{ file().fileName }}</span>
    </div>

    @if (isUploadInProgress()) {
      <div class="d-flex mt-1" style="height: 1.1rem">
        <app-upload-progressbar [file]="file()" class="flex-grow-1" />
      </div>
    }

    @if (isUploadInProgress()) {
      @if (isUserCreatedFile()) {
        <div class="d-flex justify-content-end">
          <app-upload-control-btns
            style="margin-bottom: -10px"
            [file]="file()"
            (continue)="continueUpload.emit()"
            (pause)="stopUpload.emit()"
          />
        </div>
      }
    } @else {
      <div class="small mt-1">
        <app-size-cell [file]="file()" />
      </div>
    }
  </div>

  <div class="d-flex justify-content-between align-items-center mt-auto">
    <div
      class="small text-secondary text-truncate me-1"
      style="transform: translateY(-3px)"
    >
      <app-created-by-cell
        [file]="file()"
        [alignTextBottom]="true"
        photoTextGap="sm"
      />
    </div>
  </div>

  @if (loading()) {
    <div class="loading-overlay">
      <div style="transform: translateY(-90%)">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  }
</div>
