<div
  class="drop-overlay"
  [class]="{
    'invalid-drop': !canWriteToDragTarget(),
    'table-drop-hover': isHoverTargetATable(),
  }"
  data-testid="upload-overlay"
>
  <div class="drop-overlay-text">
    @if (!canWriteToDragTarget() && isHoverTargetATable()) {
      <ng-container i18n>You can't upload files here 😕</ng-container>
    } @else if (!canWriteToDragTarget()) {
      <ng-container i18n>
        You can't upload files to “{{ dragTarget()?.name }}” 😕
      </ng-container>
    } @else if (isHoverTargetATable()) {
      <ng-container i18n>
        Upload {{ dragPayloadNb() }} file(s) here
      </ng-container>
    } @else {
      <ng-container i18n>
        Upload {{ dragPayloadNb() }} file(s) to “{{ dragTarget()?.name }}”
      </ng-container>
    }
  </div>
</div>
