@if (file().fileStatus === FileStatus.Completed) {
  <i class="bi fs-4 me-1" [class]="file() | fileToIcon"></i>

  @if (editingId() === file().id) {
    <input
      appSelectFilename
      data-testid="rename-input"
      type="text"
      style="min-width: 85%"
      [ngModel]="file().fileName"
      [placeholder]="file().fileName"
      (blur)="onRename(file(), $any($event.target).value)"
      (keydown)="onFileRenameKeyDown($event, file())"
    />
  } @else {
    <span data-testid="file-name">{{ file().fileName }}</span>
  }
} @else {
  <div class="d-flex align-items-center gap-3" data-testid="file-upload-data">
    <!-- File icon -->
    <i class="bi fs-4 flex-shrink-0" [class]="file() | fileToIcon"></i>

    <!-- Upload content -->
    <div
      class="flex-grow-1 upload-content"
      style="min-width: 0; max-width: 500px"
    >
      <!-- Filename row -->
      <div class="d-flex align-items-center" style="min-width: 0">
        <span
          class="text-truncate"
          data-testid="file-name"
          [appTooltipOnOverflow]="file().fileName"
        >
          {{ file().fileName }}
        </span>

        <app-upload-status
          [file]="file()"
          class="upload-status-inline ms-1 flex-shrink-0"
          [disableColoring]="!isUserCreatedFile()"
        />
      </div>

      <app-upload-status [file]="file()" class="upload-status-stacked lh-sm" />

      <!-- Progress row -->
      <div
        class="d-flex align-items-center gap-2"
        style="min-width: 0; max-width: 500px"
      >
        <app-upload-progressbar [file]="file()" class="flex-grow-1" />

        @if (isUserCreatedFile()) {
          <app-upload-control-btns
            [file]="file()"
            (pause)="onStopFilesUpload([file()])"
            (continue)="onContinueFilesUpload([file()])"
          />
        }
      </div>
    </div>
  </div>
}
