<div ngbDropdown container="body" #menu="ngbDropdown" [autoClose]="'outside'">
  <div
    class="position-fixed"
    ngbDropdownToggle
    [ngStyle]="{ left: `${position().x}px`, top: `${position().y}px` }"
  ></div>

  <div ngbDropdownMenu (contextmenu)="$event.preventDefault()">
    @if (mixedFileComplition()) {
      <button ngbDropdownItem disabled class="text-danger">
        <i class="bi bi-exclamation-triangle me-1"></i> Some files are still
        uploading
      </button>
      <div class="dropdown-divider"></div>

      <div ngbDropdown #uploadsSubmenu="ngbDropdown" placement="right-top">
        <button
          ngbDropdownItem
          ngbDropdownAnchor
          (click)="uploadsSubmenu.toggle()"
          class="d-flex"
          data-testid="context-menu-manage-uploads"
        >
          Manage uploads <span class="ms-auto">→</span>
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngTemplateOutlet="uploadActions"></ng-container>
        </div>
      </div>

      <div class="dropdown-divider"></div>

      <div ngbDropdown #fileSubmenu="ngbDropdown" placement="right-top">
        <button
          ngbDropdownItem
          ngbDropdownAnchor
          (click)="fileSubmenu.toggle()"
          class="d-flex"
          data-testid="context-menu-manage-files"
        >
          Manage files <span class="ms-auto">→</span>
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngTemplateOutlet="fileActions"></ng-container>
        </div>
      </div>
    }
    @if (areAllFilesIncomplete()) {
      <ng-container *ngTemplateOutlet="uploadActions"></ng-container>
    }
    @if (areAllFilesComplete()) {
      <ng-container *ngTemplateOutlet="fileActions"></ng-container>
    }
  </div>
</div>

@let selectedFile = selectedFiles()[0];
@let selectedFilesCount = selectedFiles().length;

<ng-template #uploadActions>
  @let disablePause =
    allFilesHaveSameUploadStatus() &&
    selectedFile.progressStatus !== ProgressStatus.Started;
  @let disableResume =
    allFilesHaveSameUploadStatus() &&
    selectedFile.progressStatus === ProgressStatus.Started;
  <button
    ngbDropdownItem
    (click)="resumeUploadClicked(); menu.close()"
    [disabled]="disableResume"
    data-testid="context-menu-resume-upload"
  >
    <i
      class="bi bi-play-circle-fill me-1"
      [class.text-success]="!disableResume"
    ></i>
    Resume Upload
  </button>

  <button
    ngbDropdownItem
    (click)="pauseUploadClicked(); menu.close()"
    [disabled]="disablePause"
    data-testid="context-menu-pause-upload"
  >
    <i class="bi bi-pause-circle me-1" [class.text-warning]="!disablePause"></i>
    Pause Upload
  </button>

  <button
    ngbDropdownItem
    (click)="cancelUploadClicked(); menu.close()"
    data-testid="context-menu-cancel-upload"
  >
    <i class="bi bi-x-circle text-danger me-1"></i> Cancel Upload
  </button>
</ng-template>

<ng-template #fileActions>
  @if (inSearchView() && selectedFiles().length === 1) {
    <button
      ngbDropdownItem
      (click)="openLocation.emit(selectedFile); menu.close()"
      data-testid="context-menu-open-directory"
    >
      <i class="bi bi-box-arrow-in-up-right me-1 text-success"></i>
      Open Location
    </button>
  }
  @if (showOpenFolder()) {
    <button
      ngbDropdownItem
      (click)="openFolder.emit(selectedFile); menu.close()"
    >
      <i class="bi bi-folder2-open me-1 text-warning"></i> Open Folder
    </button>
  }

  <button
    ngbDropdownItem
    (click)="downloadClicked(); menu.close()"
    data-testid="context-menu-download"
  >
    <i class="bi bi-download me-1 text-primary"></i> Download
  </button>

  <button
    ngbDropdownItem
    [disabled]="selectedFiles().length !== 1"
    (click)="rename.emit(selectedFile); menu.close()"
    data-testid="context-menu-rename"
  >
    <i
      class="bi bi-pencil me-1"
      [class.text-info-emphasis]="selectedFiles().length === 1"
    ></i>
    Rename
  </button>

  <button
    ngbDropdownItem
    (click)="copyClicked(); menu.close()"
    data-testid="context-menu-copy"
  >
    <i class="bi bi-files me-1 text-warning-emphasis"></i> Copy
  </button>
  <button
    ngbDropdownItem
    (click)="moveClicked(); menu.close()"
    data-testid="context-menu-cut"
  >
    <i class="bi bi-folder-symlink me-1 text-warning-emphasis"></i> Move
  </button>

  <button
    ngbDropdownItem
    (click)="toggleFavourite.emit(anySelectedFileIsUnFavourite()); menu.close()"
    data-testid="context-menu-favourite"
  >
    <i
      class="bi bi-star me-1"
      [class.text-warning]="anySelectedFileIsUnFavourite()"
      [class.text-muted]="!anySelectedFileIsUnFavourite()"
    ></i>
    {{
      anySelectedFileIsUnFavourite()
        ? selectedFilesCount > 1
          ? "Favourite all"
          : "Add to favourites"
        : selectedFilesCount > 1
          ? "Unfavourite all"
          : "Remove from favourites"
    }}
  </button>

  <div class="dropdown-divider"></div>

  @if (showManageShares()) {
    <button
      ngbDropdownItem
      (click)="manageShares.emit(selectedFile); menu.close()"
      data-testid="context-menu-manage-shares"
    >
      <i class="bi bi-share me-1 text-primary"></i> Manage shares
    </button>
  } @else {
    <button
      ngbDropdownItem
      (click)="shareClicked(); menu.close()"
      data-testid="context-menu-share"
    >
      <i class="bi bi-share me-1 text-primary"></i> Share
    </button>
  }

  <button
    ngbDropdownItem
    (click)="generateLinkClicked(); menu.close()"
    data-testid="context-menu-share-link"
  >
    <i class="bi bi-link me-1 text-primary-emphasis"></i> Generate share link
  </button>

  <div class="dropdown-divider"></div>

  <button
    ngbDropdownItem
    (click)="deleteClicked(); menu.close()"
    data-testid="context-menu-delete"
  >
    <i class="bi bi-trash me-1 text-danger"></i> Delete
  </button>
</ng-template>
