<div class="d-flex flex-row pt-3 pb-2">
  <div class="align-self-center mr-3">
    <h2>Shared with me</h2>
  </div>
  <div class="align-self-center mr-3">
    <fa-icon size="2x" id="faCircle" [icon]="['fas', 'folder-plus']"
             (click)="initDirCreate(form); createDirTextInput.setFocus();"></fa-icon>
  </div>
  <div class="align-self-end pt-3">
    <form hidden #form [formGroup]="fileNameForm" (ngSubmit)="createDirectory(); form.hidden = true">
      <app-text-input #createDirTextInput [formControl]="$any(fileNameForm).controls['dirName']"
                      [label]="'Folder name'" [errors]="false" (focusin)="fileNameForm.markAllAsTouched()"
                      (focusout)="form.hidden = true; gRename = false;"></app-text-input>
    </form>
  </div>
</div>


<div id="table" class="row">
  <div class="table-responsive" style="overflow: visible">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 2%">
          <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)">
        </th>
        <th scope="col" style="width: 50%" class="text-left">File Name
          <span *ngIf="isManyCheckboxesChecked()" class="dropdown ml-3" dropdown #dropdown="bs-dropdown"
                (onShown)="hideOnSecondOpen(dropdown)">
            <span id="actionBtn" dropdownToggle>
            <fa-icon [icon]="['fas', 'ellipsis-h']" [styles]="{'color': 'black'}"></fa-icon>
            Actions  </span>
            <span class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item" [href]="downloadMultipleFiles()">Download</a>
              <a class="dropdown-item" (click)="moveCopyInit()">Move / Copy</a>
              <a class="dropdown-item" (click)="openModal(deleteTemplate) ;markCheckedFiles()">Delete</a>
            </span>
          </span>
          <div *ngIf="fileExplorerService.filesToMoveCopy.length>0" class="custom-control-inline ml-3">
            <button class="btn btn-dark btn-sm mr-1" (click)="moveCopyFiles(false)">Move here</button>
            <button class="btn btn-dark btn-sm mr-1" (click)="moveCopyFiles(true)">Copy here</button>
            <button class="btn btn-secondary btn-sm" (click)="this.fileExplorerService.filesToMoveCopy = []">Cancel
            </button>
          </div>
        </th>
        <th scope="col" style="width: 4%">Actions</th>
        <th scope="col" style="width: 10%">Access mode</th>
        <th scope="col" style="width: 8%">Size</th>
        <th scope="col" style="width: 12%">Shared By</th>
        <th scope="col" style="width: 14%">Valid Until</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of files; let fileIndex=index">

        <!--Checkobox-->
        <td>
          <input type="checkbox" [hidden]="!isCompleted(file)" value="{{file.id}}"
                 (change)="file.checked = !file.checked" [checked]="file.checked">
          <fa-icon [hidden]="isCompleted(file)" [icon]="['far', 'trash-alt']" (click)="cancelUpload(file)"
                   [styles]="{'color': '#8c2e2e'}"></fa-icon>
        </td>

      <!--FileName + upload progress-->
        <td *ngIf="!file.rename" class="text-left">
          <div [routerLink]="file.isDirectory ? ['/files',file.id] : null" class="row col-12 align-items-center"
               [style]="{'cursor': file.isDirectory ? 'pointer' : 'default'}">
            <div [ngClass]="isCompleted(file) ? '' : 'col-lg-6 col-md-8 col-sm-10'" class="pl-0">
              <fa-icon [style]="{'cursor': file.isDirectory ? 'pointer' : 'default'}" class="mr-sm-1" size="2x"
                       [icon]="[file.isDirectory ? 'fas' : 'far', (file | mimeFontawesome)]"></fa-icon>
              {{ file.fileName }} | FileId: {{file.id}}
            </div>
            <div *ngIf="!isCompleted(file)" class="row align-items-center col-lg-6 col-md-4 col-sm-2 ">
              <div class="col p-0 d-none d-lg-block">
                <div class="progress progress-sm bg-dark ">
                  <div [class]="file.progressStatus === ProgressStatus.Stopped ? 'bg-danger' :
                  file.progressStatus === ProgressStatus.Stopping ? 'bg-warning progress-bar-animated' : 'progress-bar-animated'"
                       class="progress-bar progress-bar-striped bg-info" role="progressbar"
                       [ngStyle]="{ 'width': file.uploadProgress * 100 + '%'}"></div>
                </div>
              </div>
              <fa-icon size="lg" [class.fa-disabled]="file.progressStatus !== ProgressStatus.Stopped"
                       class="mr-sm-1 ml-sm-1"
                       [icon]="['fas', 'play-circle']" (click)="continueUpload(file)"></fa-icon>
              <fa-icon size="lg" [class.fa-disabled]="file.progressStatus !== ProgressStatus.Started"
                       [icon]="['fas', 'stop-circle']"
                       (click)="stopUpload(file)"></fa-icon>
            </div>
          </div>
        </td>


        <!--FileName when rename mode is enabled-->
        <td #renameInput hidden class="text-left">
          <form [formGroup]="fileNameForm" (ngSubmit)="rename(file); renameInput.hidden = true">
            <app-text-input #renameTextInput (focusin)="fileNameForm.markAllAsTouched()"
                            (focusout)="rename(file); renameInput.hidden = true"
                            (keydown.enter)="rename(file); renameInput.hidden = true"
                            [formControl]="$any(fileNameForm).controls['fileName']"
                            [label]="file.fileName"
                            [value]="file.fileName"></app-text-input>
          </form>
        </td>


        <!--Actions-->
        <td>

          <div #dropdown="bs-dropdown" [dropup]="fileIndex >= (itemsPerPage-2)" [isDisabled]="!isCompleted(file)"
               class="btn-group" dropdown (onShown)="hideOnSecondOpen(dropdown)">
            <fa-icon dropdownToggle [class.fa-disabled]="!isCompleted(file)" [icon]="['fas', 'ellipsis-h']"
                     [styles]="{'color': '#60646b'}"></fa-icon>

            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" [href]="downloadFile(file)">Download</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="renameInit(file); renameInput.hidden = false; renameTextInput.setFocus();">Rename</a>
              </li>
              <li role="menuitem"><a class="dropdown-item" (click)="moveCopyInit(file)">Move / Copy</a></li>
              <li role="menuitem"><a class="dropdown-item"
                                     (click)="openModal(deleteTemplate); fileExplorerService.filesToDelete = [file]">Delete</a>
              </li>
            </ul>
          </div>
        </td>

        <!--Access Mode-->
        <td> {{file.accessMode}} </td>

        <!--Size-->

        <td>{{file.size | convertSizeToReadable}}</td>

        <!--Shared By-->

        <td> {{file.sharedUserName}} </td>

        <!--Valid until-->

        <td>
          <div class="trim" popover="{{file.validUntil | date :'medium'}}"
               triggers="mouseenter:mouseleave">{{file.validUntil | timeago}}</div>
        </td>

      </tr>
      </tbody>
    </table>
    <h2 class="text-center my-3" *ngIf="files.length <= 0">You do not have any files in this category</h2>
    <div class="d-flex justify-content-center" *ngIf="files.length > 0">
      <pagination [boundaryLinks]="true"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Delete is permanent and cannot be reversed.
      <br/>Do you want to continue?</p>
    <button type="button" class="btn btn-dark mr-2" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">No</button>
  </div>
</ng-template>
