<app-shared-files-context-menu
  [position]="contextMenuPosition()"
  [selectedFiles]="selectedFiles()"
  (openFolder)="selectFolder($event.id)"
  (openLocation)="openLocation($event)"
  (download)="downloadFiles($event)"
  (rename)="renameFile($event)"
  (move)="initFileMove($event)"
  (copy)="initFileCopy($event)"
  (delete)="deleteFiles($event)"
  (pauseUpload)="stopFilesUpload($event)"
  (resumeUpload)="continueFilesUpload($event)"
  (cancelUpload)="cancelFilesUpload($event)"
/>

<app-table-context-menu
  [position]="contextMenuPosition()"
  [accessMode]="currentDirectoryAccessMode()"
  [sortableColumns]="sortableColumns()"
  [sortOption]="sortOption()"
  [canPaste]="canPaste()"
  [(viewMode)]="viewMode"
  (refresh)="refresh()"
  (createFolder)="createFolder()"
  (upload)="uploadFiles($event)"
  (paste)="pasteFiles()"
  (sortByColumn)="toggleSort($event)"
/>

<div
  class="table-wrapper position-relative h-100 rounded rounded-4"
  data-testid="shared-files-table"
  [class.table-drop-hover]="isHoverTargetATable()"
  (pointerup)="viewWrapperClick($event)"
  (pointerdown)="onRubberBandPointerDown($event)"
  (contextmenu)="tableContextMenuClick($event)"
>
  <div
    #scrollContainer
    (scroll)="onRubberBandScroll()"
    (dragleave)="onTableDragLeave($event)"
    (dragenter)="onTableDragEnter($event)"
    (dragover)="onTableDragOver($event)"
    (drop)="onTableDrop($event)"
    class="table-scroll-wrapper position-relative overflow-auto h-100 p-4"
  >
    <div class="file-grid">
      @for (file of files(); track file.id) {
        <app-shared-file-grid-card
          [file]="file"
          [selected]="isSelected(file.id)"
          [loading]="isLoading(file.id)"
          [dropTarget]="dragTarget()?.id === file.id"
          [currentUserId]="currentUserId()"
          [inRoot]="!!currentDirectoryId()"
          [canMove]="canMoveSelected()"
          (clickCard)="selectFile(file, $event)"
          (doubleClickCard)="file.isDirectory ? selectFolder(file.id) : null"
          (clickActions)="actionIconClick($event, file)"
          (dragStartCard)="onRowDragStart($event, file)"
          (dragEndCard)="onRowDragEnd($event)"
          (dragEnterCard)="onRowDragEnter($event, file)"
          (dragLeaveCard)="onRowDragLeave($event, file)"
          (dragOverCard)="onRowDragOver($event)"
          (dropCard)="onRowDrop($event)"
          (stopUpload)="stopFilesUpload([file])"
          (continueUpload)="continueFilesUpload([file])"
          (cancelUpload)="cancelFilesUpload([file])"
          (contextMenuClick)="contextMenuClick($event.event, $event.file)"
          [class.opacity-50]="
            filesMarkedForAction()?.type === 1 &&
            filesMarkedForAction()?.filesIds!.has(file.id)
          "
        />
      }

      @if (files().length === 0) {
        <div
          class="text-center fs-5 w-100 position-absolute translate-middle start-50 mt-2 pb-2 border-bottom"
          i18n
        >
          Empty directory
        </div>
        <div
          class="text-center text-secondary position-absolute top-50 start-50 translate-middle"
        >
          <i class="bi bi-upload" style="font-size: 5rem"></i>
          <div class="fs-3" i18n>Drop files here to upload</div>
        </div>
      }
    </div>
  </div>

  <app-selection-area />

  @if (dragTarget() && !isInternalHover()) {
    <app-upload-overlay />
  }
</div>

<!-- Do not remove this -->
<!-- Invisible drag preview component, necessary for drag preview view snapshot -->
<div style="position: absolute; top: -9999px; left: -9999px">
  <app-drag-preview [files]="movableSelectedFiles()" />
</div>
