<input
  #fileInput
  type="file"
  class="d-none"
  multiple
  (change)="uploadClicked($event); fileInput.value = ''"
/>

<div ngbDropdown container="body" #menu="ngbDropdown" [autoClose]="'outside'">
  <div
    class="position-fixed"
    ngbDropdownToggle
    [ngStyle]="{ left: `${position().x}px`, top: `${position().y}px` }"
  ></div>

  <div ngbDropdownMenu (contextmenu)="$event.preventDefault()">
    <div ngbDropdown #viewSubmenu="ngbDropdown" placement="right-top">
      <button
        ngbDropdownItem
        ngbDropdownAnchor
        (click)="viewSubmenu.toggle()"
        class="d-flex"
      >
        <i class="bi bi-eye me-2 text-secondary"></i>
        <ng-container i18n>View</ng-container>
        <span class="ms-auto">→</span>
      </button>
      <div ngbDropdownMenu>
        <ng-container *ngTemplateOutlet="viewActions"></ng-container>
      </div>
    </div>

    @if (sortableColumns() && sortableColumns()!.length > 0) {
      <div ngbDropdown #sortBySubmenu="ngbDropdown" placement="right-top">
        <button
          ngbDropdownItem
          ngbDropdownAnchor
          (click)="sortBySubmenu.toggle()"
          class="d-flex"
        >
          <i class="bi bi-sort-down me-2 text-secondary"></i>
          <ng-container i18n>Sort By</ng-container>
          <span class="ms-auto">→</span>
        </button>
        <div ngbDropdownMenu>
          <ng-container *ngTemplateOutlet="sortByActions"></ng-container>
        </div>
      </div>
    }

    <button ngbDropdownItem (click)="refresh.emit(); menu.close()">
      <i class="bi bi-arrow-repeat me-2 text-primary"></i>
      <ng-container i18n>Refresh</ng-container>
    </button>

    <button
      ngbDropdownItem
      data-testid="table-context-menu-create-folder"
      (click)="createFolder.emit(); menu.close()"
      [disabled]="!hasMinReadWriteAccess()"
    >
      <i
        class="bi bi-folder-plus me-2"
        [class.text-warning]="hasMinReadWriteAccess()"
      ></i>
      <ng-container i18n>Create Folder</ng-container>
    </button>

    <button
      ngbDropdownItem
      (click)="paste.emit(); menu.close()"
      [disabled]="!hasMinReadWriteAccess() || !canPaste()"
      data-testid="table-context-menu-paste"
    >
      <i
        class="bi bi-clipboard me-2"
        [class.text-secondary]="hasMinReadWriteAccess() && canPaste()"
      ></i>
      <ng-container i18n>Paste</ng-container>
    </button>

    <button
      ngbDropdownItem
      (click)="fileInput.click(); menu.close()"
      [disabled]="!hasMinReadWriteAccess()"
    >
      <i
        class="bi bi-upload me-2"
        [class.text-primary]="hasMinReadWriteAccess()"
      ></i>
      <ng-container i18n>Upload Files</ng-container>
    </button>
  </div>
</div>

<ng-template #viewActions>
  <button ngbDropdownItem (click)="viewMode.set('list'); menu.close()">
    <i class="bi bi-list me-2 text-primary"></i>
    <ng-container i18n>Table Layout</ng-container>
  </button>

  <button ngbDropdownItem (click)="viewMode.set('grid'); menu.close()">
    <i class="bi bi-grid me-2 text-primary"></i>
    <ng-container i18n>Grid Layout</ng-container>
  </button>
</ng-template>

<ng-template #sortByActions>
  @for (col of sortableColumns()!; track $index) {
    <button
      ngbDropdownItem
      (click)="sortByColumn.emit(col.column); menu.close()"
      class="text-capitalize d-flex align-items-center gap-1"
    >
      {{ col.displayName }}
      @if (sortOption()?.column === col.column) {
        <i
          class="bi"
          [class.bi-caret-up-fill]="sortOption()?.direction === 'asc'"
          [class.bi-caret-down-fill]="sortOption()?.direction === 'desc'"
        ></i>
      }
    </button>
  }
</ng-template>
