<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark w-100 px-2 px-sm-4 py-0 pt-md-2 pb-md-1"
>
  <div class="container-fluid flex-wrap flex-md-nowrap px-0">
    <app-navbar-brand class="me-1 me-md-3 me-lg-5" />
    @if (!authenticated()) {
      <div class="d-flex gap-3 ms-auto me-4">
        <app-language-switch />
        <app-theme-switch />
      </div>
    }
    @if (authenticated()) {
      <div
        class="d-flex align-items-center justify-content-end flex-grow-1 gap-3 gap-lg-4 me-md-3"
      >
        @if (isDiscSubroute()) {
          <app-file-search class="d-none d-md-inline" />
        }
        <div class="d-flex align-items-center gap-2 gap-lg-3">
          <app-language-switch />
          <app-theme-switch />
          <app-profile-dropdown />
          <button
            class="navbar-toggler"
            style="font-size: small"
            type="button"
            (click)="toogleCollapse()"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    }
  </div>
</nav>
