<app-navbar></app-navbar>
<div *ngIf="authenticated" class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main id="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<div *ngIf="!authenticated">
  <app-login *ngIf="router.url === '/login'" ></app-login>
  <app-register *ngIf="router.url === '/register'" ></app-register>
</div>
<div class="footer container-fluid text-center bg-light p-3 fixed-bottom">
  <span class="text-muted">Place sticky footer content here.</span>
</div>

