 <app-navbar #navbarComponent></app-navbar>

  <div *ngIf="authenticated" class="container-fluid mainViewCollapsed mainView px-3">
    <div class="row">
      <app-sidebar [toggleCollapsed]="navbarComponent.toggleCollapsed"></app-sidebar>
      <main id="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>

  <div *ngIf="!authenticated" class="mainView">
    <router-outlet></router-outlet>
  </div>

    <div class="footer container-fluid text-center p-2 bg-light fixed-bottom">
      <span class="text-muted">Place sticky footer content here.</span>
    </div>
