<div class="modal-header">
  <h4 class="modal-title">{{ title() }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>

<div class="modal-body">
  <p class="d-grid overflow-hidden" style="white-space: pre-wrap">
    {{ message() }}
    @if (showPermanentWarning()) {
      <br />
      <span class="text-danger" i18n>This operation can not be undone.</span>
    }
  </p>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss()"
    data-testid="confirm-modal-cancel"
  >
    {{ cancelText() }}
  </button>
  <button
    type="button"
    class="btn btn-danger"
    ngbAutofocus
    (click)="activeModal.close(true)"
    data-testid="confirm-modal-accept"
  >
    {{ confirmText() }}
  </button>
</div>
