.d-flex {
  height: 100%;
}

.background {
  position: relative;
  z-index: 1;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -1;
  background: url("../../../assets/clouds.jpg");
  background-size: cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

#login-card {
  @media only screen and (min-width: 30em) {
    min-width: 30em;
  }

  background: rgba(240, 255, 255, .87);
  min-height: 70vh;
  justify-content: center;
  box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.5);
}
