@let controls = $any(loginForm.controls!);

<app-base-auth-page [(loading)]="loading">
  <img
    src="/mascote.png"
    alt="application mascot (cloud man)"
    i18n-alt
    width="120em"
    class="align-self-center"
  />

  <app-card-main-content [errorMsg]="error()">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <app-text-input
        [formControl]="controls.username"
        label="Username/Email"
        i18n-label
        (focusin)="resetError()"
        [testId]="'login-username'"
      />

      <app-text-input
        [formControl]="controls.password"
        label="Password"
        i18n-label
        (focusin)="resetError()"
        type="password"
        [testId]="'login-password'"
      />

      <app-main-action-btn [loading]="loading()" [testId]="'login-submit'" i18n>
        Sign in
      </app-main-action-btn>
    </form>
  </app-card-main-content>

  <app-card-secondary-content>
    <ng-container i18n>
      You don't have an account? <br />
      Click Register to create one!
    </ng-container>

    <button
      class="btn btn-secondary"
      [disabled]="loading()"
      routerLink="/register"
      i18n
    >
      Register
    </button>
  </app-card-secondary-content>
</app-base-auth-page>
