<label
  class="btn btn-info px-0 py-3"
  [class.disabled]="!canUpload()"
  tabindex="0"
  role="button"
>
  <input
    [disabled]="!canUpload()"
    type="file"
    class="d-none"
    multiple
    (change)="uploadSelectedFiles($event)"
    data-testid="upload-files-input"
  />
  <ng-container i18n>Upload files</ng-container>
</label>
<label
  class="btn btn-info px-0 py-3"
  [class.disabled]="!canUpload()"
  tabindex="0"
  role="button"
>
  <input
    [disabled]="!canUpload()"
    type="file"
    class="d-none"
    webkitdirectory
    (change)="uploadSelectedFolder($event)"
    data-testid="upload-folder-input"
  />
  <ng-container i18n>Upload folder</ng-container>
</label>
