<div
  ngbDropdown
  appHoverClass="bg-secondary"
  class="dropdown text-end p-1 rounded-pill"
>
  <span
    ngbDropdownToggle
    class="dropdown-toggle text-white d-flex align-items-center gap-1"
    style="cursor: pointer"
    data-testid="profile-dropdown-toggle"
  >
    <img
      [src]="userPhotoUrl() ?? 'user.png'"
      [alt]="'Profile photo of ' + userName()"
      i18n-alt
      width="32"
      height="32"
      class="rounded-circle"
    />
    <span class="text-truncate" style="max-width: 100px">
      {{ userName() }}
    </span>
  </span>
  <ul ngbDropdownMenu class="dropdown-menu-end">
    <li ngbDropdownItem>
      <a
        class="dropdown-item user-select-none"
        routerLink="/settings"
        draggable="false"
      >
        <i class="bi bi-gear me-2"></i>
        <ng-container i18n>Settings</ng-container>
      </a>
    </li>
    <li ngbDropdownItem>
      <a
        class="dropdown-item user-select-none"
        routerLink="/profile"
        draggable="false"
      >
        <i class="bi bi-person-lines-fill me-2"></i>
        <ng-container i18n>Profile</ng-container>
      </a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li ngbDropdownItem>
      <a
        class="dropdown-item user-select-none"
        (click)="logout()"
        draggable="false"
        data-testid="profile-signout"
      >
        <i class="bi bi-power me-2"></i>
        <ng-container i18n>Sign out</ng-container>
      </a>
    </li>
  </ul>
</div>
