<nav
  aria-label="sidebar"
  class="d-flex flex-column px-3 py-5 bg-body-tertiary rounded-end-4 border-end border-2 border-secondary-subtle"
>
  <ul class="nav nav-pills flex-column" (click)="isCollapsed.set(true)">
    <li app-nav-link link="home" data-testid="sidebar-link-home">
      <i class="bi bi-house"></i>&nbsp;
      <ng-container i18n>My files</ng-container>
    </li>
    <li
      app-nav-link
      link="shared-with-me"
      data-testid="sidebar-link-shared-with-me"
    >
      <i class="bi bi-people"></i>&nbsp;
      <ng-container i18n>Shared with me</ng-container>
    </li>
    <li
      app-nav-link
      link="shared-by-me"
      data-testid="sidebar-link-shared-by-me"
    >
      <i class="bi bi-share"></i>&nbsp;
      <ng-container i18n>Shared by me</ng-container>
    </li>
    <li app-nav-link link="favourite" data-testid="sidebar-link-favourite">
      <i class="bi bi-heart"></i>&nbsp;
      <ng-container i18n>Favourite</ng-container>
    </li>
    <li app-nav-link link="recent" data-testid="sidebar-link-recent">
      <i class="bi bi-hourglass"></i>&nbsp;
      <ng-container i18n>Recent</ng-container>
    </li>
  </ul>

  <app-space-usage-bar class="mt-2" />

  <div class="mt-auto mb-5">
    <div class="text-muted small fst-italic mb-1">
      @if (canUpload()) {
        <ng-container i18n>
          Upload files from here <br />
          Or drag & drop files onto the table
        </ng-container>
      } @else {
        <ng-container i18n
          >You can't upload files to this directory
        </ng-container>
      }
    </div>
    <app-upload-buttons />
  </div>
</nav>
