@let controls = $any(registerForm.controls!);
<app-base-auth-page [(loading)]="loading">
  <app-card-main-content [errorMsg]="error()">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-text-input
        [formControl]="controls['username']"
        label="Username"
        [testId]="'register-username'"
      ></app-text-input>
      <app-text-input
        [formControl]="controls['email']"
        label="Email (optional)"
        [testId]="'register-email'"
      ></app-text-input>
      <app-text-input
        [formControl]="controls['password']"
        label="Password"
        [type]="'password'"
        [testId]="'register-password'"
      ></app-text-input>
      <app-text-input
        [formControl]="controls['confirmPassword']"
        label="Confirm Password"
        [type]="'password'"
        [testId]="'register-confirm-password'"
      ></app-text-input>
      <app-main-action-btn
        [loading]="loading()"
        [testId]="'register-submit'"
      >
        Register
      </app-main-action-btn>
    </form>
  </app-card-main-content>
  <app-card-secondary-content>
    You already have an account?<br />Click Back to go to a Login page!
    <button
      class="btn btn-secondary btn-block"
      [disabled]="loading()"
      routerLink="/login"
    >
      Login
    </button>
  </app-card-secondary-content>
</app-base-auth-page>
