<app-base-disc-page>
  <app-base-disc-page-header>
    <i class="bi bi-house-door-fill"></i>
    My files
    <app-file-actions-strip secondaryContent />
    <button class="btn btn-primary" (click)="refetchFiles()">
      Refetch files
    </button>
  </app-base-disc-page-header>
  <app-breadcrumb class="mt-n2" />
  <!-- <app-base-table
    data-view
    [data]="files()"
    [columns]="columns()"
    [(selectedRows)]="selectedRows"
    [rowColorRules]="rowColorRules"
    [singleSelect]="true"
  ></app-base-table> -->
  <app-my-files data-view></app-my-files>
</app-base-disc-page>
