table {
  @media (max-width: 992px) {
    font-size: 0.85rem;
  }
}

tr {
  border-left: solid 8px transparent;
  &.selected {
    border-left: solid 8px rgb(44, 112, 177);
    //--bs-table-bg: rgba(31, 84, 133, 0.493);
  }
}

.table tbody tr td {
  position: relative;
}

/* selection overlay blended with existing row bg */
.table tbody tr.selected td {
  box-shadow: inset 0 0 0 100vmax rgba(0, 123, 255, 0.2);
}

th {
  font-weight: normal;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

table.ultra-small td {
  padding-top: 2px;
  padding-bottom: 2px;
}

