<table class="table table-hover no-select" [class]="rowSizeClass()">
  <thead class="sticky-top">
    <tr class="table-primary">
      @for (col of columns(); track col.key) {
        @let keyAsString = getColKeyAsString(col);
        @let sortState = getSortStateByKey(keyAsString);
        <th (click)="toggleSort(keyAsString)" style="cursor: pointer">
          {{ col.header }}
          <span> {{ sortState ? (sortState!.direction === "asc" ? "▲" : "▼") : "⇅" }} </span>
        </th>
      }
    </tr>
    <tr>
      @for (col of columns(); track col.key) {
        <th>
          @if (col.disableFilters) {
            <button class="btn btn-sm btn-light border border-black" disabled>Filtruj</button>
          } @else {
            @let keyAsString = getColKeyAsString(col);
            @let columnFiltersNb = getAppliedFiltersNb(keyAsString);
            @let lastFilterLeft = isLastFilterOptLeft(keyAsString);
            @let iscolDate = isColDateType(keyAsString);
            <div ngbDropdown container="body">
              <button class="btn btn-sm btn-light border border-black" ngbDropdownToggle>
                Filtruj {{ columnFiltersNb > 0 ? `(${columnFiltersNb})` : "" }}
              </button>
              <div ngbDropdownMenu style="min-width: 180px">
                <div class="mx-2 d-grid gap-1">
                  <button
                    (click)="restetFilters(keyAsString); searchFilter.value = ''"
                    class="btn btn-sm btn-outline-secondary w-100"
                  >
                    Wyczyść wszystkie
                  </button>
                  <input
                    #searchFilter
                    [disabled]="iscolDate"
                    (keyup)="filterByValue(keyAsString, $event)"
                    [placeholder]="iscolDate ? 'Niedostępne' : 'Wyszukaj'"
                    type="text"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="dropdown-divider"></div>
                <div class="overflow-auto text-nowrap" style="max-height: 260px">
                  @for (opt of filters()[keyAsString]; track opt.value) {
                    <!-- Do not allow to unselect last active value from dropdown -->
                    @let disableFilter = opt.selected && lastFilterLeft;
                    <div
                      class="form-check mx-2 text-start border-bottom"
                      (click)="
                        !disableFilter && toggleFilterValue(keyAsString, opt.value);
                        searchFilter.value = ''
                      "
                      (dblclick)="
                        singleSelectFilterValue(keyAsString, opt.value); searchFilter.value = ''
                      "
                    >
                      <input
                        type="checkbox"
                        class="form-check-input"
                        [checked]="opt.selected"
                        [disabled]="disableFilter"
                      />
                      <label class="form-check-label">
                        @if (isValDateType($any(opt.value))) {
                          {{ $any(opt.value) | date: "shortDate" }}
                        } @else if (opt.value == null || opt.value == "") {
                          {{ "\< Puste \>" }}
                        } @else {
                          {{ opt.value }}
                        }
                      </label>
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @for (row of filteredData(); track tryGetRowId(row) ?? $index) {
      @let isSelected = isRowSelected(row);
      <tr
        [id]="addId() ? tryGetRowId(row) : null"
        [class.selected]="isSelected"
        [class]="rowClasses(row)"
        (click)="handleRowClick($event, $index)"
        (mousedown)="!singleSelect() && onRowMouseDown(row, $event)"
        (mouseenter)="onRowMouseEnter(row)"
        (mouseup)="onRowMouseUp(row)"
      >
        @for (col of columns(); track col.key) {
          @let key = getColKeyAsKeyOfT(col);
          <td>
            @if (col.customTemplate) {
              <ng-container
                *ngTemplateOutlet="col.customTemplate; context: { $implicit: row[key], row: row }"
              >
              </ng-container>
            } @else if (isValDateType(row[key])) {
              {{ row[key] | date: "shortDate" }}
            } @else {
              {{ row[key] }}
            }
          </td>
        }
      </tr>
    } @empty {
      <tr>
        <td colspan="9999" class="text-center py-4 fs-5">Brak danych spełniających warunki.</td>
      </tr>
    }
  </tbody>
</table>
