<app-shared-files-context-menu
  [position]="contextMenuPosition()"
  [selectedFiles]="selectedFiles()"
  (openFolder)="selectFolder($event.id)"
  (download)="downloadFiles($event)"
  (rename)="initRename($event)"
  (move)="initFileMove($event)"
  (copy)="initFileCopy($event)"
  (delete)="deleteFiles($event)"
></app-shared-files-context-menu>

<div
  class="table-wrapper position-relative h-100 rounded rounded-4 px-2 py-3"
  [class.table-drop-hover]="isHoverTargetATable()"
  (mouseup)="resetFileSelection($event)"
>
  <div
    (dragleave)="onTableDragLeave($event)"
    (dragenter)="onTableDragEnter($event)"
    (dragover)="onTableDragOver($event)"
    (drop)="onTableDrop($event)"
    class="table-scroll-wrapper overflow-auto h-100 px-1"
  >
    <table
      cdk-table
      [dataSource]="files()"
      [trackBy]="trackByFileId"
      recycleRows
      class="table table-hover table-sm no-select my-0"
    >
      <!-- File id Definition -->
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 3%">
          Id
        </th>
        <td cdk-cell *cdkCellDef="let file">{{ file.id }}</td>
      </ng-container>

      <!-- Row Selector Definition -->
      <ng-container cdkColumnDef="rowSelector">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 3%">
          <label class="lbl-checkbox">
            <input
              type="checkbox"
              [checked]="areAllCheckboxesChecked()"
              (change)="checkAllCheckBox($event)"
            />
          </label>
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-table-cell align-middle text-center"
        >
          @if (file.fileStatus === FileStatus.Incomplete) {
            <i
              class="bi bi-x-octagon text-danger"
              style="-webkit-text-stroke: 1px; font-size: large"
              appClicableIcon
              ngbTooltip="Cancel upload"
              [openDelay]="300"
            ></i>
          } @else if (isLoading(file.id)) {
            <span class="spinner-border spinner-border-sm"></span>
          }
        </td>
      </ng-container>

      <!-- File name Definition -->
      <ng-container cdkColumnDef="fileName">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-left">
          FileName
        </th>
        <td cdk-cell *cdkCellDef="let file">
          <i class="bi fs-4 me-1" [ngClass]="file | fileToIcon"></i>
          @if (editingId() === file.id) {
            <input
              appSelectFilename
              type="text"
              style="min-width: 85%"
              [ngModel]="file.fileName"
              [placeholder]="file.fileName"
              (blur)="rename(file, $any($event.target).value)"
              (keydown)="fileRenameKeyDown($event, file)"
            />
          } @else {
            {{ file.fileName }}
          }
        </td>
      </ng-container>

      <!-- Shared User Name Definition -->
      <ng-container cdkColumnDef="sharedUserName">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="d-none d-md-table-cell"
          style="width: 12%"
        >
          Shared By
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-none d-md-table-cell align-middle"
        >
          {{ file.sharedUserName }}
        </td>
      </ng-container>

      <!-- Access Mode Definition -->
      <ng-container cdkColumnDef="accessMode">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="d-none d-md-table-cell"
          style="width: 10%"
        >
          Access Mode
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-none d-md-table-cell align-middle"
        >
          <i class="bi" [class]="getAccessModeIconClass(file.accessMode)"></i>
          {{ getAccessModeName(file.accessMode) }}
        </td>
      </ng-container>

      <!-- Actions Definition -->
      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 5%">
          Actions
        </th>
        <td cdk-cell *cdkCellDef="let file" class="d-table-cell align-middle">
          <i
            #icon
            appClicableIcon
            class="bi bi-three-dots fs-5"
            (click)="actionIconClick($event, icon, file)"
            ngbTooltip="Show more actions"
            [openDelay]="300"
          ></i>
        </td>
      </ng-container>

      <!-- Size  Definition -->
      <ng-container cdkColumnDef="size">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 6%">
          Size
        </th>
        <td cdk-cell *cdkCellDef="let file" class="d-table-cell align-middle">
          {{ file.size | fileSize }}
        </td>
      </ng-container>

      <!-- Valid Until Definition -->
      <ng-container cdkColumnDef="validUntil">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 10%">
          Valid Until
        </th>
        <td cdk-cell *cdkCellDef="let file" class="d-table-cell align-middle">
          {{ file.validUntil | remainigTime }}
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr *cdkNoDataRow>
        <td colspan="100%" class="text-center fs-5">Empty directory</td>
      </tr>

      <tr
        cdk-header-row
        *cdkHeaderRowDef="columnsToDisplay(); sticky: true"
        class="table-primary"
      ></tr>

      <tr
        cdk-row
        *cdkRowDef="let file; columns: columnsToDisplay()"
        (contextmenu)="contextMenuClick($event, file)"
        [class.selected-row]="selectedIds().has(file.id)"
        (click)="selectFile(file, $event)"
        (dblclick)="file.isDirectory ? selectFolder(file.id) : null"
        [class.selectable]="file.isDirectory"
        [draggable]="
          file.fileStatus === FileStatus.Completed &&
          !isLoading(file.id) &&
          !isEditing(file.id)
        "
        (dragstart)="onRowDragStart($event, file)"
        (dragleave)="onRowDragLeave($event, file)"
        (dragenter)="onRowDragEnter($event, file)"
        (dragover)="onRowDragOver($event)"
        (drop)="onRowDrop($event, file)"
        (mousedown)="onRowMouseDown(file, $event)"
        (mouseenter)="onRowMouseEnter(file)"
        (mouseup)="onRowMouseUp(file, $event)"
        [class.opacity-50]="
          filesMarkedForAction()?.type === 1 &&
          filesMarkedForAction()?.filesIds!.has(file.id)
        "
        [class.drop-folder-hover]="
          dragTarget()?.id === file.id && canBeTargetDirectory(file)
        "
        [class.invalid-drop]="
          dragTarget()?.id === file.id && !canWriteToDragTarget()
        "
      ></tr>
    </table>

    @if (files().length === 0) {
      <div
        class="text-center text-secondary position-absolute top-50 start-50 translate-middle"
      >
        <i class="bi bi-upload" style="font-size: 5rem"></i>
        <div class="fs-3">Drop files here to upload</div>
      </div>
    }
  </div>

  @if (dragTarget() && !isInternalHover()) {
    <app-upload-overlay />
  }
</div>

<!-- Do not remove this -->
<!-- Invisible drag preview component, necessary for drag preview view snapshot -->
<div style="position: absolute; top: -9999px; left: -9999px">
  <app-drag-preview [files]="selectedFiles()" />
</div>
