<app-shared-files-context-menu
  [position]="contextMenuPosition()"
  [selectedFiles]="selectedFiles()"
  (openFolder)="selectFolder($event.id)"
  (openLocation)="openLocation($event)"
  (download)="downloadFiles($event)"
  (rename)="initRename($event)"
  (move)="initFileMove($event)"
  (copy)="initFileCopy($event)"
  (delete)="deleteFiles($event)"
></app-shared-files-context-menu>

<app-table-context-menu
  [position]="contextMenuPosition()"
  [accessMode]="currentDirectoryAccessMode()"
  [sortableColumns]="sortableColumns()"
  [sortOption]="sortOption()"
  [canPaste]="canPaste()"
  (refresh)="refresh()"
  (createFolder)="createFolder()"
  (upload)="uploadFiles($event)"
  (paste)="pasteFiles()"
  (sortByColumn)="toggleSort($event)"
/>

<div
  class="table-wrapper position-relative h-100 rounded rounded-4 px-2 py-3"
  data-testid="shared-files-table"
  [class.table-drop-hover]="isHoverTargetATable()"
  (mouseup)="resetFileSelection($event)"
  (contextmenu)="tableContextMenuClick($event)"
>
  <div
    #scrollContainer
    data-testid="shared-files-drop-area"
    (dragleave)="onTableDragLeave($event)"
    (dragenter)="onTableDragEnter($event)"
    (dragover)="onTableDragOver($event)"
    (drop)="onTableDrop($event)"
    class="table-scroll-wrapper overflow-auto h-100 px-1"
  >
    <table
      cdk-table
      fixedLayout
      [dataSource]="files()"
      [trackBy]="trackByFileId"
      recycleRows
      class="table table-hover table-sm no-select my-0"
    >
      <!-- Row Selector Definition -->
      <ng-container cdkColumnDef="rowSelector">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" style="width: 40px">
          <label class="lbl-checkbox">
            <input
              type="checkbox"
              [checked]="areAllCheckboxesChecked()"
              (change)="checkAllCheckBox($event)"
            />
          </label>
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-table-cell align-middle text-center"
        >
          <app-row-selector-cell
            [file]="file"
            [isLoading]="isLoading(file.id)"
            (cancelFilesUpload)="cancelFilesUpload($event)"
          />
        </td>
      </ng-container>

      <!-- File name Definition -->
      <ng-container cdkColumnDef="fileName">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          (click)="toggleSort('fileName')"
        >
          <app-sortable-header column="fileName" [sortOption]="sortOption()"
            >File Name</app-sortable-header
          >
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          [appTooltipOnOverflow]="file.fileName"
        >
          <app-file-name-cell
            [file]="file"
            [editingId]="editingId()"
            (contextMenuClick)="contextMenuClick($event.event, $event.file)"
            (rename)="rename($event.file, $event.newName)"
            (fileRenameKeyDown)="fileRenameKeyDown($event.event, $event.file)"
            (stopFilesUpload)="stopFilesUpload($event)"
            (continueFilesUpload)="continueFilesUpload($event)"
          />
        </td>
      </ng-container>

      <!-- Shared User Name / Created By Definition -->
      <ng-container cdkColumnDef="sharedBy/createdBy">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="d-none d-md-table-cell"
          style="width: 150px"
          (click)="toggleSort('sharedBy/createdBy')"
        >
          <app-sortable-header
            column="sharedBy/createdBy"
            [sortOption]="sortOption()"
            >{{
              currentDirectoryId() ? "Created By" : "Shared By"
            }}</app-sortable-header
          >
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-none d-md-table-cell align-middle pe-2"
        >
          @if (currentDirectoryId()) {
            <app-created-by-cell
              [file]="file"
              (contextMenuClick)="contextMenuClick($event.event, $event.file)"
            />
          } @else {
            <app-shared-user-name-cell
              [file]="file"
              (contextMenuClick)="contextMenuClick($event.event, $event.file)"
            />
          }
        </td>
      </ng-container>

      <!-- Access Mode Definition -->
      <ng-container cdkColumnDef="accessMode">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="align-middle access-mode-column"
          (click)="toggleSort('accessMode')"
        >
          <app-sortable-header column="accessMode" [sortOption]="sortOption()">
            <span class="d-table-cell d-xl-none">Access</span>
            <span class="d-none d-xl-table-cell">Access Mode</span>
          </app-sortable-header>
        </th>
        <td cdk-cell *cdkCellDef="let file" class="align-middle">
          <app-access-mode-cell
            [file]="file"
            [accessModeName]="getAccessModeName(file.accessMode)"
            [accessModeIconClass]="getAccessModeIconClass(file.accessMode)"
            (contextMenuClick)="contextMenuClick($event.event, $event.file)"
          />
        </td>
      </ng-container>

      <!-- Actions Definition -->
      <ng-container cdkColumnDef="actions">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="actions-column"
        >
          Actions
        </th>
        <td cdk-cell *cdkCellDef="let file" class="d-table-cell align-middle">
          <app-actions-cell
            [file]="file"
            (contextMenuClick)="contextMenuClick($event.event, $event.file)"
            (actionIconClick)="
              actionIconClick($event.event, $event.icon, $event.file)
            "
          />
        </td>
      </ng-container>

      <!-- Size  Definition -->
      <ng-container cdkColumnDef="size">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="size-column"
          (click)="toggleSort('size')"
        >
          <app-sortable-header column="size" [sortOption]="sortOption()"
            >Size</app-sortable-header
          >
        </th>
        <td cdk-cell *cdkCellDef="let file" class="d-table-cell align-middle">
          <app-size-cell
            [file]="file"
            (contextMenuClick)="contextMenuClick($event.event, $event.file)"
          />
        </td>
      </ng-container>

      <!-- Valid Until Definition -->
      <ng-container cdkColumnDef="validUntil">
        <th
          cdk-header-cell
          *cdkHeaderCellDef
          scope="col"
          class="valid-until-column d-none d-sm-table-cell"
          (click)="toggleSort('validUntil')"
        >
          <app-sortable-header column="validUntil" [sortOption]="sortOption()"
            >Valid Until</app-sortable-header
          >
        </th>
        <td
          cdk-cell
          *cdkCellDef="let file"
          class="d-none d-sm-table-cell align-middle"
        >
          <app-valid-until-cell
            [file]="file"
            (contextMenuClick)="contextMenuClick($event.event, $event.file)"
          />
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr *cdkNoDataRow></tr>
      <!-- Leave empty - Required for correct display of "No data" row -->

      <tr
        cdk-header-row
        *cdkHeaderRowDef="columnsToDisplay(); sticky: true"
        class="table-primary"
      ></tr>

      <tr
        cdk-row
        *cdkRowDef="let file; columns: columnsToDisplay()"
        [attr.data-testid]="'file-row-' + file.id"
        (contextmenu)="
          isSelected(file.id)
            ? contextMenuClick($event, file)
            : tableContextMenuClick($event)
        "
        [class.selected-row]="selectedIds().has(file.id)"
        (click)="selectFile(file, $event)"
        (dblclick)="file.isDirectory ? selectFolder(file.id) : null"
        [class.selectable]="file.isDirectory"
        [draggable]="
          canMoveSelected() && !isLoading(file.id) && !isEditing(file.id)
        "
        (dragstart)="onRowDragStart($event, file)"
        (dragleave)="onRowDragLeave($event, file)"
        (dragenter)="onRowDragEnter($event, file)"
        (dragover)="onRowDragOver($event)"
        (drop)="onRowDrop($event, file)"
        (mousedown)="onRowMouseDown(file, $event)"
        (mouseenter)="onRowMouseEnter(file)"
        (mouseup)="onRowMouseUp(file, $event)"
        [class.opacity-50]="
          filesMarkedForAction()?.type === 1 &&
          filesMarkedForAction()?.filesIds!.has(file.id)
        "
        [class.drop-folder-hover]="
          dragTarget()?.id === file.id && canBeTargetDirectory(file)
        "
        [class.invalid-drop]="
          dragTarget()?.id === file.id && !canWriteToDragTarget()
        "
      ></tr>
    </table>

    @if (files().length === 0) {
      <div class="text-center fs-5 border ms-1 py-1">Empty directory</div>
      <div
        class="text-center text-secondary position-absolute top-50 start-50 translate-middle"
      >
        <i class="bi bi-upload" style="font-size: 5rem"></i>
        <div class="fs-3">Drop files here to upload</div>
      </div>
    }
  </div>

  @if (dragTarget() && !isInternalHover()) {
    <app-upload-overlay />
  }
</div>

<!-- Do not remove this -->
<!-- Invisible drag preview component, necessary for drag preview view snapshot -->
<div style="position: absolute; top: -9999px; left: -9999px">
  <app-drag-preview [files]="movableSelectedFiles()" />
</div>
