<span
  [class.text-muted]="
    disableColoring() || file().progressStatus === ProgressStatus.Started
  "
  [class.text-warning-emphasis]="
    !disableColoring() && file().progressStatus === ProgressStatus.Stopping
  "
  [class.text-danger-emphasis]="
    !disableColoring() && file().progressStatus === ProgressStatus.Stopped
  "
  data-testid="file-upload-progress"
  [attr.data-progress-status]="ProgressStatus[file().progressStatus!]"
>
  ↑
  {{
    getFileSize(file().size | fileSize) * (file().uploadProgress ?? 0)
      | number: "1.2-2"
  }}/{{ file().size | fileSize }}
</span>
