@if (isLoaded()) {
  <div class="col-9 col-sm-6 col-md-12 mt-2">
    <ngb-progressbar
      class="bg-secondary bg-opacity-50"
      [showValue]="progress() > 7"
      [type]="progressStyle()"
      [value]="progress()"
    />
    <span class="small">
      <i class="bi bi-device-hdd" class="text-{{ progressStyle() }}"></i>
      <ng-container i18n>Used space:</ng-container>&nbsp;
      {{ storage()!.usedSpace | fileSize }}
      &nbsp;\&nbsp;
      {{ storage()!.quota | fileSize }}
    </span>
  </div>
  @if (progress() > 90) {
    <div class="alert alert-danger mt-2 p-1">
      @if (progress() >= 100) {
        <ng-container i18n>No free space left.</ng-container>
      } @else {
        <ng-container i18n>Available space is low.</ng-container>
      }
      <br />
      <ng-container i18n>Consider deleting some files.</ng-container>
    </div>
  }
}
