<div
  ngbDropdown
  class="nav-item dropdown text-white rounded-pill p-1"
  appHoverClass="bg-secondary"
>
  <a role="button" class="dropdown-toggle nav-link" ngbDropdownToggle>
    <i class="bi" [ngClass]="themeIcon()"></i>
  </a>
  <div ngbDropdownMenu class="dropdown-menu-end">
    <button
      ngbdropdownitem
      class="dropdown-item d-flex align-items-center"
      [class.active]="theme() === 'auto'"
      (click)="changeTheme('auto')"
    >
      <span class="bi bi-circle-half me-2"></span
      ><ng-container i18n>Auto</ng-container>
      @if (theme() === "auto") {
        <i class="bi bi-check ms-auto"></i>
      }
    </button>
    <button
      ngbdropdownitem
      class="dropdown-item d-flex align-items-center"
      [class.active]="theme() === 'light'"
      (click)="changeTheme('light')"
    >
      <span class="bi bi-sun-fill me-2"></span
      ><ng-container i18n>Light</ng-container>
      @if (theme() === "light") {
        <i class="bi bi-check ms-auto"></i>
      }
    </button>
    <button
      ngbdropdownitem
      class="dropdown-item d-flex align-items-center"
      [class.active]="theme() === 'dark'"
      (click)="changeTheme('dark')"
    >
      <span class="bi bi-moon-stars-fill me-2"></span
      ><ng-container i18n>Dark</ng-container>
      @if (theme() === "dark") {
        <i class="bi bi-check ms-auto"></i>
      }
    </button>
  </div>
</div>
