a {
    transition: transform 0.3s ease-in-out;
}

a:hover:not(.active) {
  background: rgba(139, 143, 143, 0.2) !important;
}

a:hover {
  transform: translateX(5px);
}

.nav-link.link-body-emphasis:focus {
  color:  var(--bs-emphasis-color) !important;
}