<nav aria-label="breadcrumb">
  <ol class="breadcrumb m-0">
    @for (breadcrumb of breadCrumbs(); track breadcrumb.id; let last = $last;
    let first = $first) {
    <li class="breadcrumb-item my-1">
      @if (!last) {
      <a
        class="px-2 py-1"
        (drop)="onDrop($event, breadcrumb)"
        (dragenter)="onDragEnter($event, breadcrumb)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event, breadcrumb)"
        (dragend)="onDragEnd($event, breadcrumb)"
        [class]="
          dragOverBreadcrumbId() === breadcrumb.id
            ? 'bg-secondary bg-opacity-25 rounded-pill '
            : ''
        "
        [routerLink]="['/disc/home/folder', breadcrumb.id]"
        (click)="selectFolder(breadcrumb.id)"
      >
        @if (first) {
        <i class="bi bi-house-door"></i>
        }
        {{ breadcrumb.fileName }}</a
      >} @else {

      <span class="px-2 py-1">
        @if (first) { <i class="bi bi-house-door"></i> }
        {{ breadcrumb.fileName }}</span
      >
      }
    </li>
    }
  </ol>
</nav>
