<div class="modal-header">
  <h4 class="modal-title">
    <i class="bi bi-keyboard text-primary me-2"></i>
    <ng-container i18n>Keyboard Shortcuts</ng-container>
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body pb-0">
  <div class="container-fluid px-3">
    @for (shortcut of shortcuts; track shortcut.description) {
      <div class="row py-2 py-xl-3 align-items-center shortcut-row">
        <div
          class="col-6 text-end pe-4 d-flex flex-wrap justify-content-end align-items-center gap-1"
        >
          @for (key of shortcut.keys; track key) {
            <kbd class="px-2 fs-6">{{ key }}</kbd>
            @if (!$last) {
              <span class="text-secondary fw-semibold">+</span>
            }
          }
        </div>
        <div class="col-6 fs-6 text-body-secondary lh-sm">
          {{ shortcut.description }}
        </div>
      </div>
    }
  </div>
</div>
<div class="modal-footer border-top-0 pt-0">
  <button
    type="button"
    class="btn btn-primary px-4"
    (click)="activeModal.close()"
    i18n
  >
    Got it
  </button>
</div>
