<!--<button class="navbar-toggler bg-warning" type="button" aria-controls="sidebarMenu" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"-->
<!--        [attr.aria-expanded]="isCollapsed">-->
<!--  <span class="navbar-toggler-icon"></span>-->
<!--</button>-->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" [collapse]="isCollapsed">
  <div class="d-flex flex-column sidebar-sticky pb-md-3 pt-md-3">
    <div>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="files"  routerLinkActive="active">
            <span><fa-icon [icon]="['fas', 'file']"></fa-icon></span>
            Files
          </a>
        </li>
        <li class="nav-item" (click)="toggleShareItemActive()" [ngClass]="{'active': isShareItemActive}">
          <a class="nav-link dropdown-toggle">
            <span><fa-icon [icon]="['fas', 'share-alt']"></fa-icon></span>
            Shares
          </a>
          <ul class="sl-menu-sub nav flex-column submenu">
            <li>
              <a class="nav-link" routerLink="shared-with-me" routerLinkActive="active">Shared with me</a>
            </li>
            <li>
              <a class="nav-link" routerLink="shared-by-me" routerLinkActive="active">Shared by me</a>
            </li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="favourite" routerLinkActive="active">
            <span><fa-icon [icon]="['fas', 'heart']"></fa-icon></span>
            Favourite
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recent" routerLinkActive="active">
            <span><fa-icon [icon]="['far', 'clock']"></fa-icon></span>
            Recent
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tags" routerLinkActive="active">
            <span><fa-icon [icon]="['fas', 'tags']"></fa-icon></span>
            Tags
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="deleted" routerLinkActive="active">
            <span><fa-icon [icon]="['fas', 'trash']"></fa-icon></span>
            Deleted
          </a>
        </li>

        <li class="nav-item">
          <p class="nav-link">
            <span><fa-icon [icon]="['fas', 'hdd']"></fa-icon></span>
            {{usedSpace | convertSizeToReadable}}{{getQuota()}}
          </p>
        </li>
      </ul>

      <div class="progress progress-sm bg-dark mx-3">
        <div class="progress-bar " [ngClass]="type" role="progressbar" [ngStyle]="{ 'width': dynamic + '%'}">{{dynamic}}%</div>
      </div>
      <div *ngIf="dynamic >= 90" class="alert alert-danger mx-3 mt-2 p-0">{{dynamic >= 100 ? "No free space left." : "Available space is low."}}<br> Consider deleting some files.</div>

    </div>

    <div class="mt-auto">
      <app-file-upload></app-file-upload>

    </div>
  </div>
</nav>
