<div class="d-flex flex-row">
  <div class="align-self-center mr-3">
    <h2>All Files</h2>
  </div>
  <div class="align-self-center mr-3">
    <fa-icon size="2x" id="faCircle" [icon]="['fas', 'folder-plus']" (click)="dirCreat(form); createDirTextInput.setFocus()"></fa-icon>
  </div>
  <div class="align-self-end pt-3">
    <form  hidden #form [formGroup]="fileNameForm" (ngSubmit)="createDirectory(); form.hidden = true" >
      <app-text-input #createDirTextInput  [formControl]="$any(fileNameForm).controls['dirName']"
                      [label]="'Folder name'" [errors]="false" (focusin)="fileNameForm.markAllAsTouched()" (focusout)="form.hidden = true; gRename = false;"></app-text-input>
    </form>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-sm table-hover">
      <thead>
      <tr>
        <th scope="col" style="width: 2%">
          <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)">
        </th>
        <th scope="col" style="width: 60%" class="text-left">File Name

          <span *ngIf="isManyCheckboxesChecked()" class="dropdown ml-3" dropdown   #dropdown="bs-dropdown" (onShown)="hideOnSecondOpen(dropdown)">
            <span id="actionBtn" dropdownToggle>
            <fa-icon [icon]="['fas', 'ellipsis-h']" [styles]="{'color': 'black'}"></fa-icon>
            Actions  </span>
            <span class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item">Download</a>
              <a class="dropdown-item">Move / Copy</a>
              <a class="dropdown-item" (click)="deleteCheckedFiles()">Delete</a>
            </span>
          </span>
        </th>
        <th scope="col" style="width: 4%">Favourite</th>
        <th scope="col" style="width: 4%">Share</th>
        <th scope="col" style="width: 4%">Actions</th>
        <th scope="col" style="width: 8%">Size</th>
        <th scope="col" style="width: 16%">Last Modification</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of filesToView">
        <td>
          <input type="checkbox" value="{{file.id}}" (change)="file.checked = !file.checked" [checked]="file.checked">
        </td>
        <td *ngIf="!file.rename" class="text-left">{{ file.fileName }}</td>
        <td #renameInput hidden class="text-left">

          <form [formGroup]="fileNameForm" (ngSubmit)="rename(file); renameInput.hidden = true">
            <app-text-input #renameTextInput (focusin)="fileNameForm.markAllAsTouched()" (focusout)="rename(file); renameInput.hidden = true" (keydown.enter)="rename(file); renameInput.hidden = true"
                            [formControl]="$any(fileNameForm).controls['fileName']"
                            [label]="file.fileName"
                            [value]="file.fileName"></app-text-input>
          </form>

        </td>
        <td *ngIf="file.isFavourite">
          <fa-icon [icon]="['fas', 'star']" (click)="file.isFavourite = !file.isFavourite"
                   [styles]="{'stroke-width': '40','stroke': 'gray', 'color': 'yellow'}"></fa-icon>
        </td>
        <td *ngIf="!file.isFavourite">
          <fa-icon [icon]="['fas', 'star']" (click)="file.isFavourite = !file.isFavourite"
                   [styles]="{'stroke-width': '40','stroke': 'gray', 'color': 'white'}"></fa-icon>
        </td>
        <td *ngIf="file.isShared">
          <fa-icon [icon]="['fas', 'share-alt']" (click)="file.isShared = !file.isShared"></fa-icon>
        </td>
        <td *ngIf="!file.isShared">
          <fa-icon [icon]="['fas', 'share-alt']" (click)="file.isShared = !file.isShared"
                   [styles]=" {'color': '#bfbbbb'}"></fa-icon>
        </td>
        <td>
          <div class="dropdown" dropdown #dropdown="bs-dropdown" (onShown)="hideOnSecondOpen(dropdown)">
            <fa-icon [icon]="['fas', 'ellipsis-h']" [styles]="{'color': '#60646b'}" dropdownToggle></fa-icon>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item">Download</a>
              <a class="dropdown-item" (click)="renameInit(file);renameInput.hidden = false; renameTextInput.setFocus()">Rename</a>
              <a class="dropdown-item" (click)="changeDirectory()">Move / Copy</a>
              <a class="dropdown-item" (click)="deleteFile(file)">Delete</a>
            </div>
          </div>

          <!--          <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">-->
          <!--            <button id="button-basic" dropdownToggle type="button"-->
          <!--                    class="btn btn-primary dropdown-toggle"-->
          <!--                    aria-controls="dropdown-basic">-->
          <!--              Menu <span class="caret"></span>-->
          <!--            </button>-->
          <!--            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"-->
          <!--                role="menu" aria-labelledby="button-basic">-->
          <!--              <li role="menuitem"><a class="dropdown-item" href="#">File</a></li>-->
          <!--              <li role="menuitem"><a class="dropdown-item" href="#">Edit</a></li>-->
          <!--              <li role="menuitem"><a class="dropdown-item" href="#">Search</a></li>-->
          <!--              <li class="divider dropdown-divider"></li>-->
          <!--              <li role="menuitem"><a class="dropdown-item" href="#">Recents</a>-->
          <!--              </li>-->
          <!--            </ul>-->
          <!--          </div>-->
          <!--          <button type="button" class="btn btn-primary"-->
          <!--                  (click)="dropdown.isOpen = !dropdown.isOpen">Show/Hide-->
          <!--          </button>-->

        </td>
        <td>{{convertToReadableFileSize(file.size)}}</td>
        <td>
          <div class="trim" popover="{{file.modificationData | date :'medium'}}"
               triggers="mouseenter:mouseleave">{{file.modificationData | timeago}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true"
                  [totalItems]="totalItems"
                  [itemsPerPage]="itemsPerPage"
                  [(ngModel)]="currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>
<div class="datatable" data-full-pagination="true" data-selectable="true" data-multi="true"></div>
