<div class="d-flex flex-row pt-3 pb-2">
  <div class="align-self-center mr-3">
    <h2>{{title}}</h2>
  </div>
  <div *ngIf="mode === 'GetAll'" class="align-self-center mr-3">
    <fa-icon size="2x" id="faCircle" [icon]="['fas', 'folder-plus']"
             (click)="initDirCreate(form); createDirTextInput.setFocus(); createDirTextInput.textSelect();"></fa-icon>
  </div>
  <div class="align-self-end pt-3">
    <form hidden #form [formGroup]="fileNameForm" (ngSubmit)="createDirectory(); form.hidden = true">
      <app-text-input #createDirTextInput
                      [formControl]="$any(fileNameForm).controls['dirName']"
                      (focusin)="fileNameForm.markAllAsTouched()"
                      (focusout)="form.hidden = true; gRename = false; fileNameForm.reset();"
                      [label]="'Folder name'"
                      ></app-text-input>
    </form>
  </div>
</div>

<div>
  <nav *ngIf="mode==='GetAll'" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li (click)="fileExplorerService.updateSearchText('')" class="breadcrumb-item"><a routerLink="/files"
                                                                                        routerLinkActive="active">
        <span><fa-icon [icon]="['fas', 'home']"></fa-icon></span>
        Home
      </a></li>
      <li *ngFor="let item of breadCrumbs" class="breadcrumb-item ">
        <a (click)="fileExplorerService.updateSearchText('')" [routerLink]="['/files', item.id]">{{item.fileName}}</a>
      </li>
    </ol>
  </nav>
</div>

<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th scope="col" style="width: 2%">
      <input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)">
    </th>
    <th scope="col" class="text-left">File Name

      <span *ngIf="isManyCheckboxesChecked()" class="dropdown ml-3" dropdown #dropdown="bs-dropdown"
            (onShown)="hideOnSecondOpen(dropdown)">
            <span id="actionBtn" dropdownToggle>
            <fa-icon [icon]="['fas', 'ellipsis-h']" [styles]="{'color': 'black'}"></fa-icon>
            Actions  </span>
            <span class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item" (click)="downloadMultipleFiles()">Download</a>
              <a class="dropdown-item" (click)="moveCopyInit()">Move / Copy</a>
              <a class="dropdown-item" (click)="openModal(deleteTemplate) ;markCheckedFiles()">Delete</a>
            </span>
          </span>
      <div *ngIf="fileExplorerService.filesToMoveCopy.length>0 && mode === 'GetAll'" class="custom-control-inline ml-3">
        <button class="btn btn-dark btn-sm mr-1" (click)="moveCopyFiles(false)">Move here</button>
        <button class="btn btn-dark btn-sm mr-1" (click)="moveCopyFiles(true)">Copy here</button>
        <button class="btn btn-secondary btn-sm" (click)="this.fileExplorerService.filesToMoveCopy = []">Cancel
        </button>
      </div>
    </th>
    <th scope="col" class="d-none d-md-table-cell" style="width: 4%">Favourite</th>
    <th scope="col" class="d-none d-md-table-cell" style="width: 4%">Share</th>
    <th scope="col" style="width: 4%">Actions</th>
    <th scope="col" style="width: 8%">Size</th>
    <th scope="col" class="d-none d-sm-table-cell" style="width: 16%">Last Modification</th>
  </tr>
  </thead>
  <tbody>
  <tr [ngClass]="file.loading? 'table-inactive' : ''" *ngFor="let file of files; let fileIndex=index">

    <!--Checkobox-->
    <td>
      <input *ngIf="!file.loading" type="checkbox" [hidden]="!isCompleted(file)" value="{{file.id}}"
             (change)="file.checked = !file.checked" [checked]="file.checked"/>
      <span *ngIf="file.loading" class="spinner-border spinner-border-sm"></span>
      <fa-icon [hidden]="isCompleted(file)" [icon]="['far', 'trash-alt']" (click)="cancelUpload(file)"
               [styles]="{'color': '#8c2e2e'}"></fa-icon>
    </td>

    <!--FileName + upload progress-->
    <td *ngIf="!file.rename" class="position-relative text-left">
      <div [routerLink]="file.isDirectory ? ['/files',file.id] : null"
           class="row absolutePositioning col-12 align-items-center pr-0"
           [style]="{'cursor': file.isDirectory ? 'pointer' : 'default'}">
        <div #fileName class="px-0 col fileNameCell" popover="{{isEllipsisActive(fileName) ? file.fileName : ''}}"
             triggers="mouseenter:mouseleave">
          <fa-icon class="mr-sm-1" [style]="{'cursor': file.isDirectory ? 'pointer' : 'default'}" size="2x"
                   [icon]="[file.isDirectory ? 'fas' : 'far', (file | mimeFontawesome)]"></fa-icon>
          {{ file.fileName }}
        </div>
        <div *ngIf="!isCompleted(file)" class="row align-items-center col col-xl-5">
          <div class="col p-0">
            <div class="progress progress-sm bg-dark ">
              <div [class]="file.progressStatus === ProgressStatus.Stopped ? 'bg-danger' :
                    file.progressStatus === ProgressStatus.Stopping ? 'bg-warning progress-bar-animated' : 'progress-bar-animated'"
                   class="progress-bar progress-bar-striped bg-info" role="progressbar"
                   [ngStyle]="{ 'width': file.uploadProgress * 100 + '%'}"></div>
            </div>
          </div>
          <fa-icon size="lg" [class.disabled]="file.progressStatus !== ProgressStatus.Stopped"
                   class="mr-sm-1 ml-sm-1"
                   [icon]="['fas', 'play-circle']" (click)="continueUpload(file)"></fa-icon>
          <fa-icon size="lg" [class.disabled]="file.progressStatus !== ProgressStatus.Started"
                   [icon]="['fas', 'stop-circle']"
                   (click)="stopUpload(file)"></fa-icon>
        </div>
      </div>
    </td>

    <!--Rename-->
    <td #renameInput hidden class="text-left">
      <form [formGroup]="fileNameForm" (ngSubmit)="rename(file); renameInput.hidden = true">
        <app-text-input #renameTextInput
                        [formControl]="$any(fileNameForm).controls['fileName']"
                        (focusin)="fileNameForm.markAllAsTouched()"
                        (focusout)="rename(file); renameInput.hidden = true; fileNameForm.reset();"
                        [label]="file.fileName"
                        [value]="file.fileName">
        </app-text-input>
      </form>
    </td>

    <!--Favorites -->
    <td class="d-none d-md-table-cell">
      <fa-icon [class.disabled]="!isCompleted(file) || file.loading" [icon]="['fas', 'star']"
               (click)="SetFavourite(file)"
               [styles]="{'stroke-width': '40','stroke': 'gray', 'color': file.isFavourite ? 'yellow' : 'white'}"></fa-icon>
    </td>

    <!--Share-->
    <td class="d-none d-md-table-cell">
      <fa-icon [class.disableShare]="!isCompleted(file) || file.loading" [icon]="['fas', 'share-alt']"
               (click)="fileExplorerService.filesToShare = [file]; file.isShared ? openModal(customizeSharesTemplate) : openModal(shareTemplate)"
               [styles]=" {'color': file.isShared ? 'black' : '#bfbbbb'}"></fa-icon>
    </td>

    <!--Actions-->
    <td>
      <div #dropdown="bs-dropdown" [dropup]="fileIndex >= (itemsPerPage-2)"
           [isDisabled]="!isCompleted(file) || file.loading"
           class="btn-group" dropdown (onShown)="hideOnSecondOpen(dropdown)">
        <fa-icon dropdownToggle [class.disabled]="!isCompleted(file) || file.loading"
                 [icon]="['fas', 'ellipsis-h']"
                 [styles]="{'color': '#60646b'}"></fa-icon>

        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right smallScreenText" role="menu">
          <li role="menuitem"><a class="dropdown-item" (click)="downloadFile(file)">Download</a></li>
          <li role="menuitem"><a class="dropdown-item" (click)="generateShareLink(file)">Generate share link</a></li>
          <li role="menuitem"><a class="dropdown-item d-md-none" (click)="SetFavourite(file)">
            {{file.isFavourite ? "Remove favourite" : "Add favourite"}}</a></li>
          <li role="menuitem"><a class="dropdown-item d-md-none"
                                 (click)="file.loading ? null : openModal(shareTemplate); fileExplorerService.filesToShare = [file]">
            Add share</a></li>
          <li role="menuitem"><a class="dropdown-item"
                                 (click)="renameInit(file); renameInput.hidden = false; renameTextInput.setFocus();">Rename</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" (click)="moveCopyInit(file)">Move / Copy</a></li>
          <li role="menuitem"><a class="dropdown-item"
                                 (click)="openModal(deleteTemplate); fileExplorerService.filesToDelete = [file]">Delete</a>
          </li>
        </ul>
      </div>
    </td>

    <!--File size-->
    <td>{{file.size | convertSizeToReadable}}</td>

    <!--Last modification date-->
    <td class="d-none d-sm-table-cell">
      <div class="trim" popover="{{convertToAngularUTC(file.modificationDate) | date :'medium'}}"
           triggers="mouseenter:mouseleave">{{convertToAngularUTC(file.modificationDate) | timeago}}</div>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="loadingData" class="d-flex justify-content-center d-flex align-items-center m-5">
  <div class="spinner-border" style="width: 3.4rem; height: 3.4rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div id="table">
  <div *ngIf="!loadingData" class="d-flex justify-content-center">
    <h2 *ngIf="files.length <= 0" class="text-center my-3">
      {{searchedPhrase ? "We can't find any files that fit your criteria"
      : "You do not have any files in this category"}}</h2>
    <pagination *ngIf="files.length > 0"
                [boundaryLinks]="true"
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
  </div>
</div>

<ng-template #deleteTemplate>
  <div class="modal-body text-center">
    <p>Delete is permanent and cannot be reversed.
      <br/>Do you want to continue?</p>
    <button type="button" class="btn btn-dark mr-2" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="decline()">No</button>
  </div>
</ng-template>


<ng-template #shareTemplate>
  <div class="modal-header text-center">
    <p>Please insert the user name or email of the user you want to share with.</p>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Share with:</label>
        <input [disabled]="!!shareRequestBody.Update" type="text" class="form-control" id="recipient-name"
               [(ngModel)]="shareRequestBody.UserNameToShareWith"
               [ngModelOptions]="{standalone: true}"/>
      </div>
      <div class="form-group">
        Select access mode: <br>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                 [value]="shareGetItemAccessMode('read')"
                 [checked]="shareRequestBody.AccessMode === shareGetItemAccessMode('read')"
                 (change)="shareRequestBody.AccessMode = shareGetItemAccessMode('read')">
          <label class="form-check-label" for="inlineRadio1">Read</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                 [value]="shareGetItemAccessMode('write')"
                 [checked]="shareRequestBody.AccessMode === shareGetItemAccessMode('write')"
                 (change)="shareRequestBody.AccessMode = shareGetItemAccessMode('write')">
          <label class="form-check-label" for="inlineRadio2">Read/Write</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                 [value]="shareGetItemAccessMode('full')"
                 [checked]="shareRequestBody.AccessMode === shareGetItemAccessMode('full')"
                 (change)="shareRequestBody.AccessMode = shareGetItemAccessMode('full')">
          <label class="form-check-label" for="inlineRadio3">Full access</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-switch" (click)="shareRequestBody.AccessDuration = undefined">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" #flexSwitchCheckDefault>
          <label class="form-check-label" for="flexSwitchCheckDefault">
            {{flexSwitchCheckDefault.checked ? 'Uncheck to remove time limitations' : 'Check to add time limitations'}}</label>
        </div>
        <div *ngIf="flexSwitchCheckDefault.checked" class="mt-3">
          Select share duration: <br>
          <ngx-duration-picker [options]="{ showPreview: false, showWeeks: false, showSeconds: false, showMinutes: false,
       previewFormat: '{{Y}},{{M}},{{D}},{{h}}'}" [(value)]="shareRequestBody.AccessDuration"></ngx-duration-picker>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark mr-2"
            (click)="shareConfirm()">{{!!shareRequestBody.Update ? 'Update' : 'Share'}}</button>
    <button type="button" class="btn btn-secondary"
            (click)="shareDecline()">Cancel
    </button>
  </div>
</ng-template>


<ng-template #customizeSharesTemplate>
  <div class="d-flex flex-row justify-content-center pt-3 pb-2">
    <div class="align-self-center mr-3">
      Select existing share to update or click to create a new one
    </div>
    <div class="align-self-center mr-3">
      <fa-icon size="2x" [icon]="['fas', 'plus-circle']" (click)="decline(); openModal(shareTemplate);"></fa-icon>
    </div>
  </div>
  <div class="modal-body pb-0">
    <div class="table-responsive" style="overflow: visible">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Shared with:</th>
          <th scope="col">Access mode:</th>
          <th scope="col">Valid until:</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let share of shares" style="cursor: pointer">
          <td>
            <fa-icon [icon]="['far', 'trash-alt']" (click)="this.deleteShare(share)"
                     [styles]="{'color': '#8c2e2e'}"></fa-icon>
          </td>

          <td (click)="shareRequestBody.UserNameToShareWith = share.sharedWithUserName;
        shareRequestBody.Update = true; decline();
        openModal(shareTemplate)">{{share.sharedWithUserName}}</td>
          <td>{{getAccessModeNameFromNumber(share.accessMode)}}</td>
          <td>{{share.validUntil.toString() === maxDate ? 'Unlimited' : convertToAngularUTC(share.validUntil) | timeago }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="decline()">Exit</button>
  </div>
</ng-template>

<input [hidden]="true" type="file" #fileUpload id="fileUpload" name="fileUpload"/>
