th {
  color: #989898;
  font-weight: lighter;
  font-family: "Segoe UI", serif;
}

.breadcrumb li {
  display: inline;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr {
  @media (max-width: 992px) {
    font-size: 0.85rem;
  }
  cursor: default;
  text-align: center;
}

.header {
  font-family: "fantasy", serif;
}

.smallScreenText{
  @media (max-width: 992px) {
    font-size: 0.9rem;
  }
}

#faCircle:hover {
  stroke: lemonchiffon;
  stroke-width: 20;
  color: #989898;
}

input[type=checkbox], fa-icon, .lbl-checkbox, #actionBtn:hover {
  cursor: pointer;
}

.lbl-checkbox {
  display: inline;
  padding: 0.3em 0.3em 0.3em 0.6em;
  margin-left: -0.3em;
}

.fileNameCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table {
  @media (max-width: 518px) {
    margin-bottom: 60px;
  }
  margin-bottom: 38px;
}

.progress-sm {
  height: 0.6rem !important;
}

.disabled {
  opacity: 0.45;
  cursor: default;
}

.disableShare {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}

td {
  text-align: center;
  vertical-align: middle;
}

.table-inactive {
  background-color: #ececec;
  color: #b9b9b9;
}

.table-inactive:hover {
  background-color: #ececec;
  color: #b9b9b9;
}
