th {
  color: #989898;
  font-weight: lighter;
  font-family: "Segoe UI", serif;
}

.breadcrumb li {
  display: inline;         // force the inlining
  max-width: 100%;        // the actual width, you can make this bit responsive, increasing the width as your viewport increases. I suggest to utilize the native Bootstrap media-breakpoints (i.e. media-breakpoint-up(md)).
  white-space: nowrap;     // remove the wrapping and breaking of text in the breadcrumbs
  overflow: hidden;        // hide our overflow
  text-overflow: ellipsis; // return ellipsis for the overflow.
}

tr {
  @media (max-width: 992px) {
    font-size: 0.85rem;
  }
  cursor: default;
  text-align: center;
}

.header {
  font-family: "fantasy", serif;
}

#faCircle:hover {
  stroke: lemonchiffon;
  stroke-width: 20;
  color: #989898;
}

input[type=checkbox], fa-icon, #actionBtn:hover {
  cursor: pointer;
}

.absolutePositioning{
  position: absolute;
  top: 0;
  bottom: 0;
}

.fileNameCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#table {
  @media (max-width: 518px) {
    margin-bottom: 60px;
  }
  margin-bottom: 38px;
}

.progress-sm {
  height: 0.6rem !important;
}

.disabled {
  opacity: 0.45;
  cursor: default;
}

td {
  text-align: center;
  vertical-align: middle;
}

.table-inactive {
  background-color: #ececec;
  color: #b9b9b9;
}

.table-inactive:hover {
  background-color: #ececec;
  color: #b9b9b9;
}
