<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-white" [ngClass]="authenticated ? 'navbar-brand-auth' : ''" href="#">
    <span><fa-icon class="fa-lg" [icon]="['fas', 'cloud']"></fa-icon></span> Web File Sharing System
  </a>
 <div class="d-flex col-md-9 col-lg-10">
    <input #filter [hidden]="!authenticated" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul *ngIf="authenticated" class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logout()" style="cursor: pointer">Sign out</a>
      </li>
    </ul>
   <button *ngIf="authenticated" (click)="toggleSidebarCollapse()" class="navbar-toggler d-md-none collapsed ml-2 mr-0" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
  </div>
</nav>
